# =========================
# Gradle
# =========================
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Android Studio
# =========================
.idea/
local.properties
*.iml

# =========================
# APK / AAR
# =========================
*.apk
*.aar
*.ap_

# =========================
# Logs
# =========================
*.log

# =========================
# Crash / Memory dump
# =========================
*.hprof

# =========================
# Temp / OS files
# =========================
*.tmp
*.temp
*~
.DS_Store
Thumbs.db

.local/
app/google-services.json